<div class="container" [ngClass]="eachTask.done ? 'doneTask' : null">
    <h3 class="taskTitle">{{eachTask.title}}</h3>
    <h4 class="taskDate">{{eachTask.date | date}}</h4>
    <h4 class="taskHour">{{eachTask.time}}</h4>
    <p class="taskDescription">
        {{eachTask.description}}
    </p>
    <div class="buttonDiv">
        <button *ngIf="!eachTask.done" class="buttonDone button" (click)="taskstatus(eachTask._id)">Hecho</button>
        <button class="buttonDelete button" (click)="removeTask(eachTask._id)" *ngIf="eachTask.done">
            <mat-icon class="button-icon">delete</mat-icon>
        </button>
    </div>
</div>