.container{
    margin: 2em;
    padding: 1em;
    background-color: #320A46;
    border-radius: 20px;
    color: #fff;
}

.buttonDiv{
    display: flex;
    justify-content: center;
}

.button{
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}