<footer>
<ul> 
    <a href="https://www.instagram.com/naranjax/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.linkedin.com/company/naranjax/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
    <a href="https://twitter.com/naranjaxoficial?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.facebook.com/naranjaxoficial/" target="_blank"><i class="fab fa-facebook-square"></i></a>
</ul>

<p class="copy"><i class="far fa-copyright" style="margin-right: 7px;"></i>  Nombre del grupo, 2021.</p>
</footer>