<!-- <div class="content-nav">
    <h3>Hola, Naranja X</h3>
    <button class="content-nav-btn">Añadir tarea</button>
</div> -->

<header class="header">
    <nav class="navbar">
        <div class="hamburger" (click)="toggleNavBar()">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <a href="#" class="nav-logo">NX - Agenda</a>
        <ul [ngClass]="showNavBar ? 'nav-menu' : 'hidden'">
            <li class="nav-item">
                <a routerLink="home" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/login']" routerLinkActive="router-link-active" class="nav-link">Iniciar Sesión</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/register']" routerLinkActive="router-link-active" class="nav-link">Registrate</a>
            </li>
            <li class="nav-item">
                <p (click)="logOut()" class="nav-link">Cerrar Sesión</p>
            </li>
        </ul>
    </nav>
</header>