<!-- <div class="content-nav">
    <h3>Hola, Naranja X</h3>
    <button class="content-nav-btn">Añadir tarea</button>
</div> -->

<div>
    <mat-toolbar class="matToolbar">

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon (click)="toggleNavBar()">menu</mat-icon>
    </button>
    <span class="navTitle">Naranja X Agenda</span>
    <!-- ----------------- INICIO MENU DESPLEGABLE ---------------- -->
    <ul [ngClass]="showNavBar ? 'nav-menu' : 'hidden'">
        <li class="nav-item" *ngIf="(isLogged | async)">
            <a routerLink="home" class="nav-link">Home</a>
        </li>
        <li class="nav-item" *ngIf="(isLogged | async)">
            <a class="nav-link" (click)="openDialog()">Nueva tarea</a>
        </li>
        <li class="nav-item" *ngIf="!(isLogged | async)">
            <a routerLink="auth/login" routerLinkActive="router-link-active" class="nav-link">Iniciar Sesión</a>
        </li>
        <li class="nav-item" *ngIf="!(isLogged | async)">
            <a routerLink="auth/register" routerLinkActive="router-link-active" class="nav-link">Registrate</a>
        </li>
        <li class="nav-item">
            <p (click)="logOut()" class="nav-link" *ngIf="(isLogged | async)">Cerrar Sesión</p>
        </li>
    </ul>
    <!-- ----------------- FIN MENU DESPLEGABLE ---------------- -->

    

    </mat-toolbar>
</div>
<!-- <header class="header">
    <nav class="navbar">
        <div class="hamburger" (click)="toggleNavBar()">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <p class="nav-logo" *ngIf="!(isLogged | async)">NX Academy</p>
        <ul [ngClass]="showNavBar ? 'nav-menu' : 'hidden'">
            <li class="nav-item" *ngIf="(isLogged | async)">
                <a routerLink="home" class="nav-link">Home</a>
            </li>
            <li class="nav-item" *ngIf="(isLogged | async)">
                <a class="nav-link" (click)="openDialog()">Nueva tarea</a>
            </li>
            <li class="nav-item" *ngIf="!(isLogged | async)">
                <a routerLink="auth/login" routerLinkActive="router-link-active" class="nav-link">Iniciar Sesión</a>
            </li>
            <li class="nav-item" *ngIf="!(isLogged | async)">
                <a routerLink="auth/register" routerLinkActive="router-link-active" class="nav-link">Registrate</a>
            </li>
            <li class="nav-item">
                <p (click)="logOut()" class="nav-link" *ngIf="(isLogged | async)">Cerrar Sesión</p>
            </li>
        </ul>
    </nav>
</header> -->