@import "../../../../scss/mixins";

.example-spacer {
	flex: 1 1 auto;
}

.navTitle {
	margin-left: 1em;
}

.matToolbar {
	position: fixed;
	align-items: center;
	height: 80px;
	padding: 40px;
	top: 0;
	background-color: white;
	color: black;
	box-shadow: 0 1px 7px rgb(0 0 0 / 12%);
	@include breakpoint-desktop-1 {
		height: 100px;
	}
	.navbar-container {
		width: 100%;
	}
}

.material-icons {
	font-size: 42px;
	line-height: 1.2;
	display: flex;
	align-items: center;
}

.example-icon {
	background-color: transparent;
	border: transparent;
	color: #50007f;
	float: right;
}

.nav-img {
	width: 150px;
}

.nav-menu {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	top: 3.15rem;
	background-color: rgba(255, 255, 255, 0.973);
	padding: 0 !important;
	padding-bottom: 0.8rem !important;
	width: fit-content;
	height: fit-content;
	border-radius: 0 0 6px 0;
	min-width: 300px;
	cursor: pointer;
	right: 0px;
}

.nav-item {
	padding: 0.8em 0;
	display: inline;
	list-style: none;
	padding: 1rem 6rem;
	margin-top: 1rem;
}

.nav-link {
	font-size: 1.2rem;
	font-weight: 400;
	color: #1b1b1b;
	transition: all ease 0.3s;
}

.nav-link:hover {
	color: #320a46;
	font-size: 1.3rem;
}

.hidden {
	display: none;
}

a {
	text-decoration: none;
}

@media only screen and (max-width: 768px) {
	.nav-menu {
		top: 2.6rem;
	}

	.nav-menu.active {
		left: 0;
	}
}
