<div class="tasks-list-Container" *ngIf="!loading; else loader">
	<div *ngFor="let task of tasks">
		<app-task
			[eachTask]="task"
			(evento)="deleteTask($event)"
			(update)="taskToDone($event)"
		></app-task>
	</div>
</div>
<ng-template #loader>
	<div class="spinnerContainer">
		<app-fulfilling-bouncing-circle-spinner
			[animationDuration]="4000"
			[size]="60"
			[color]="'#320A46'"
		>
		</app-fulfilling-bouncing-circle-spinner>
	</div>
</ng-template>
<div *ngIf="!tasks.length && !loading" class="textBox">
	<h2>No tenes tareas</h2>
	<h3>¿Hiciste todo o es pura vagancia?</h3>
	<p>Vos fijate...</p>
</div>
