.login {
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &-header {
    text-align: center;
    font-size: 300%;
  }
  &-form {
    background: #e6e6e6;
    border-radius: 6px;
    width: 90%;
    box-sizing: border-box;
    padding: 15px;
    margin: 5% auto;
    text-align: center;
    @media only screen and (min-width: 800px) {
      width: 50%;
      margin: 0 auto;
    }
    h3 {
      text-align: center;
      margin: 0;
    }
    input[type="button"] {
      width: 75%;
      padding: 15px;
      background-color: #50007f;
      border-radius: 5px;
      color: #e6e6e6;
      text-transform: uppercase;
      cursor: pointer;
      margin: 1em 0;
    }
  }
  input[type="text"],
  input[type="password"] {
    max-width: 400px;
    width: 90%;
    line-height: 3em;
    margin: 1em 0;
    border-radius: 5px;
    border: 2px solid #f2f2f2;
    outline: none;
    padding-left: 10px;
  }
  input[type="button" i]:disabled {
    background-color: rgba(0,0,0,.12);
    color: rgba(0,0,0,.26);
    border: none;
  }
}

/*Media Querie*/
@media only screen and (min-width: 800px) {
  .login-form h3 {
    text-align: center;
    margin: 0;
  }
}
