<div class="login">
	<div class="login-header">
		<h1>Ingrese Nueva Tarea</h1>
	</div>
	<div class="login-form">
		<h3>Tarea:</h3>
		<input type="text" placeholder="Titulo de la tarea..." /><br />
		<h3>Descripción:</h3>
		<input type="text" placeholder="Descripción de la tarea..." /><br />
		<h3>Fecha:</h3>
		<input type="date" placeholder="Fecha..." /><br />
		<h3>Hora:</h3>
		<input type="time" placeholder="Hora..." /><br />

		<br />
		<input type="button" value="Agregar" class="login-button" />
	</div>
</div>
