.login {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  &-header {
    color: #fff;
    text-align: center;
    font-size: 300%;
  }
  &-form {
    border: 0.5px solid #fff;
    background: #e6e6e6;
    border-radius: 6px;
    width: 90%;
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 10%;
    margin: 5% auto;
    text-align: center;
    @media only screen and (min-width: 800px) {
      width: 50%;
    }
    h3 {
      text-align: center;
      margin: 0;
    }
    input[type="button"] {
      width: 90%;
      padding: 15px;
      background-color: #320a46;
      border: 1px solid #f2f2f2;
      border-radius: 5px;
      color: #e6e6e6;
      text-transform: uppercase;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
      cursor: pointer;
      margin: 1em 0;
    }
  }
  input[type="text"],
  input[type="password"] {
    max-width: 400px;
    width: 90%;
    line-height: 3em;
    margin: 1em 0;
    border-radius: 5px;
    border: 2px solid #f2f2f2;
    outline: none;
    padding-left: 10px;
  }
}

/*Media Querie*/
@media only screen and (min-width: 800px) {
  .login-form h3 {
    text-align: center;
    margin: 0;
  }
}
